= link_to "Login through Soundcloud", auth_path, class: "login-button btn"
%br
%br
%br
.intro.container
  This application is a suite of different functionalities that I wish SoundCloud had or just wanted to implement using its API.
  %br
  %br
  Right now, it contains a SoundCloud playlist shuffler. If you're tired of listening to your playlists in the exact same track order every time, shuffle the order around! 
  %br
  %br
  It works by generating or updating a new Shuffle playlist that is a copy of the playlist you want to listen to but with a randomized track order. Your original playlist isn't touched.
  %br
%br
%br
.intro.container

  Future things I want to add:
  %br
  \- How well do you know your SoundCloud favorites/likes? (Quiz)
  %br
  \- SoundCloud Queue Player
  %br
  \- Playlist Manager (Easy GUI for moving tracks)
  %br
  \- SoundCloud Stats Analyzer (Need to find way to access personal stats)
